fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pydantic[email]
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
Pillow
python-dotenv
supabase
